
<mat-spinner *ngIf="loaderService.loading$ | async"></mat-spinner>
<mat-card *ngFor="let cart of cartProducts" class="cart">  
    <div class="titlerow">{{cart?.name}}<span class="space"></span> <mat-icon (click)="deleteProduct(cart.cartProductId)">delete</mat-icon></div>
    <mat-divider></mat-divider>  
    <div class="titlerow"><span class="space"></span> Price: {{cart?.price | currency}} </div>
</mat-card>
<mat-card >
   <div class="titlerow">Total: {{orderTotal | currency}} <span class="space"></span><button mat-raised-button color="primary"(click)="openDialog()">checkout</button></div>
</mat-card>

